name: Build and test
on:
  push:

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew assemble
      - name: Test with Gradle
        run: ./gradlew check --continue
      - name: Save ktlint reports
        uses: jwgmeligmeyling/checkstyle-github-action@v1
        if: always() # always run even if the previous step fails
        with:
          name: ktlint
          title: ktlint Code Analyzer Report
          path: '**/ktlint*.xml'
      - name: Save detekt reports
        uses: jwgmeligmeyling/checkstyle-github-action@v1
        if: always() # always run even if the previous step fails
        with:
          name: detekt
          title: detekt Code Analyzer Report
          path: '**/detekt.xml'
      - name: Publish JUnit Test Report
        uses: mikepenz/action-junit-report@v6
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
